/*
body{
	font-family: Arial, Helvetica !important;
	background: black;
	color: white;
	margin: 0;
}
.list-group-item-success, a.list-group-item-success:hover, a.list-group-item-success:active, a.list-group-item-success:focus{
	color: white !important;
	background-color: #22B10C;
}
#song .empty-message, .tt-dataset-song {
    padding: 5px 10px;
    text-align: center;
    background-color: #000;
    border: 1px #fff solid;
}
*/
span.largeicon {
    font-size: 2em;
}

#order-modal{
	z-index: 5 !important;
}

.modal-backdrop {
	z-index: 1 !important;
}

.btn-lg {
    margin: 0px 5px 10px 5px;
}

.steckerlogo {
    background-image: url('../pictures/stecker.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 98%;
}

