/*
body{
	font-family: Arial, Helvetica !important;
	background: black;
	color: white;
	margin: 0;
}
.list-group-item-success, a.list-group-item-success:hover, a.list-group-item-success:active, a.list-group-item-success:focus{
	color: white !important;
	background-color: #22B10C;
}
#song .empty-message, .tt-dataset-song {
    padding: 5px 10px;
    text-align: center;
    background-color: #000;
    border: 1px #fff solid;
}
*/
span.largeicon {
    font-size: 2em;
}