<div class="col-md-12" ng-model="timeline" ui-sortable="sortableOptions">
	<div ng-class="{'panel-success': module.active, 'panel-warning': !module.active}"
		 class="panel" ng-repeat="module in timeline" ng-click="active.id = module.id">
		<div class="panel-body">
			<span class="pull-right" style="font-size: large">
				<a class="btn btn-default" ng-disabled="$first"
				   ng-click="moveUp($index)">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</a>
				<a class="btn btn-default" ng-disabled="$last"
				   ng-click="moveDown($index)">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</a>
				<a class="btn btn-default"
				   ng-href="#/edit/{{module.id}}">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<a class="btn btn-default" ng-if="module.active"
				   ng-click="disable(module.id)">
					<span class="glyphicon glyphicon-volume-up"></span>
				</a>
				<a class="btn btn-default" ng-if="!module.active"
				   ng-click="activate(module.id)">
					<span class="glyphicon glyphicon-volume-off"></span>
				</a>
				<a class="btn btn-default"
				   ng-click="remove(module.id)">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
				<a ng-if="!hasTouch"class="btn btn-default module-order-handle active">
					<span class="glyphicon glyphicon-resize-vertical"></span>
				</a>
			</span>
			<h4>
				<span ng-if="module.type == 'drinks'">
					<span class="glyphicon glyphicon-glass"></span> Drinks
				</span>
				<span ng-if="module.type == 'text'">
					<span class="glyphicon glyphicon-bullhorn"></span> Text
					<small ng-bind="module.settings.headline"></small>
				</span>
				<span ng-if="module.type == 'barclosing'">
					<span class="glyphicon glyphicon-bullhorn"></span> Barschluss
					<small ng-bind="module.settings.time"></small>
				</span>
				<span ng-if="module.type == 'highlights'">
					<span class="glyphicon glyphicon-star"></span> Highlights
					<small ng-bind="module.settings.description | limitTo : 20"></small>
				</span>
			</h4>
		</div>
	</div>

	<p>
		<a class="btn btn-default" ng-click="add('drinks')"><span class="glyphicon glyphicon-plus"></span> Drinks</a>
		<a class="btn btn-default" ng-click="add('text')"><span class="glyphicon glyphicon-plus"></span> Text</a>
		<a class="btn btn-default" ng-click="add('barclosing')"><span class="glyphicon glyphicon-plus"></span> Barschluss</a>
		<a class="btn btn-default" ng-click="add('highlights')"><span class="glyphicon glyphicon-plus"></span> Highlights</a>
	</p>


</div>
