<div class="col-md-12" ng-model="meta">
Einträge gesamt: {{ meta.msgcount }}
</div>
<div class="col-md-12" ng-model="messages">
	<div ng-class="panel-default" class="panel" ng-repeat="message in messages" ng-click="active.id = message.id">
		<div class="panel-body">
			<span class="pull-right" style="font-size: large">
				<a class="btn btn-default" ng-click="resetViews(message.id)" title="Counts zurücksetzen">
					<span class="glyphicon glyphicon glyphicon-refresh"></span>
				</a>
				<a class="btn btn-default"
				   ng-click="remove(module.id)" title="Nachricht löschen">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</span>
			<h4>
				<span>
					<span class="glyphicon glyphicon-comment"></span> 
					<span ng-if="message.author"> {{ message.author }}</span> 
					<small> ({{ message.posted * 1000 | date:'dd.MM.yyyy, HH:mm' }} Uhr)</small>
					<small>{{ message.text | limitTo : 300 }}...</small>
				</span>
			</h4>
		</div>
	</div>
</div>
