<div class="col-md-12" ng-model="meta">
		
		<p class="text-uppercase" style="font-weight: bold">
		<span class="glyphicon glyphicon-comment"></span>
		Nachrichten anzeigen:
		</p>
		
		<div class="btn-group">
			
			<button type="button" style="width:150px" class="btn btn-default" ng-model="checkboxes.active" ng-class="{ 'active btn-success': checkboxes.active }" ng-click="checkboxes.active = (checkboxes.active) ? false : true"><span class="glyphicon" ng-class="{ 'glyphicon-check': checkboxes.active, 'glyphicon-unchecked': !checkboxes.active }"></span> aktive&nbsp;<span class="badge">{{ meta.msgcountactive }}</span></button>
		
			<button type="button" style="width:150px" class="btn btn-default" ng-model="checkboxes.inactive" ng-class="{ 'active btn-warning': checkboxes.inactive }" ng-click="checkboxes.inactive = (checkboxes.inactive) ? false : true"><span class="glyphicon" ng-class="{ 'glyphicon-check': checkboxes.inactive, 'glyphicon-unchecked': !checkboxes.inactive }"></span> inaktive&nbsp;<span class="badge">{{ meta.msgcountinactive }}</span></button>
			
			
		</div>

	<hr>
</div>
<div class="col-md-12" ng-model="messages">
	<div ng-class="{'panel-success': message.active, 'panel-warning': !message.active}" 
		class="panel" ng-repeat="message in messages | filter:checkboxFilter" ng-click="active.id = message.id">
		<div class="panel-body">
			<span class="pull-right" style="font-size: large">
				<a class="btn btn-default" ng-click="resetViews(message.id)" title="Counts zurücksetzen">
					Views: {{ message.views }} 
					<span class="glyphicon glyphicon glyphicon-refresh"></span>
				</a>
				<a class="btn btn-default" ng-click="remove(message.id)" title="Nachricht löschen">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</span>
			<h4>
				<span>
					<span class="glyphicon glyphicon-comment"></span> 
					<span ng-if="message.author"> {{ message.author }}</span> 
					<small> ({{ message.posted * 1000 | date:'dd.MM.yyyy, HH:mm' }} Uhr)</small>
					<small>{{ message.text | limitTo : 300 }}...</small>
				</span>
			</h4>
		</div>
	</div>
</div>
