<div class="col-md-12" ng-model="meta">
		<p class="text-uppercase" style="font-weight: bold">
		<span class="glyphicon glyphicon-film"></span>
		Module filtern:
		</p>
		<div class="btn-group">
			
			<button type="button" style="width:150px" class="btn btn-default" ng-model="checkboxes.active" ng-class="{ 'active btn-success': checkboxes.active }" ng-click="checkboxes.active = (checkboxes.active) ? false : true"><span class="glyphicon" ng-class="{ 'glyphicon-check': checkboxes.active, 'glyphicon-unchecked': !checkboxes.active }"></span> aktive&nbsp;<span class="badge">{{(timeline|filter:filterGetActives).length}}</span></button>
		
			<button type="button" style="width:150px" class="btn btn-default" ng-model="checkboxes.inactive" ng-class="{ 'active btn-warning': checkboxes.inactive }" ng-click="checkboxes.inactive = (checkboxes.inactive) ? false : true"><span class="glyphicon" ng-class="{ 'glyphicon-check': checkboxes.inactive, 'glyphicon-unchecked': !checkboxes.inactive }"></span> inaktive&nbsp;<span class="badge">{{(timeline|filter:filterGetInactives).length}}</span></button>
		</div>
	<hr>
</div>
<div class="col-md-12" ng-model="timeline" ui-sortable="sortableOptions">
	<div ng-class="{'panel-success': module.active, 'panel-warning': !module.active}"
		 class="panel" ng-repeat="module in timeline | filter:filterByCheckboxes" ng-click="active.id = module.id">
		<div class="panel-body">
			<span class="pull-right" style="font-size: large">
				<a class="btn btn-default" ng-disabled="$first"
				   ng-click="moveUp($index)" title="nach oben">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</a>
				<a class="btn btn-default" ng-disabled="$last"
				   ng-click="moveDown($index)"  title="nach unten">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</a>
				<a class="btn btn-default"
				   ng-href="#/timeline/edit/{{module.id}}"  title="Modul bearbeiten">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<a class="btn btn-default" ng-if="module.active"
				   ng-click="disable(module.id)" title="Modul deaktivieren">
					<span class="glyphicon glyphicon glyphicon glyphicon-eye-open"></span>
				</a>
				<a class="btn btn-default" ng-if="!module.active"
				   ng-click="activate(module.id)"  title="Modul aktivieren">
					<span class="glyphicon glyphicon glyphicon glyphicon-eye-close"></span>
				</a>
				<a class="btn btn-default"
				   ng-click="remove(module.id)"  title="Modul entfernen">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
				<a ng-if="!hasTouch"class="btn btn-default module-order-handle active"  title="Modul verschieben">
					<span class="glyphicon glyphicon-resize-vertical"></span>
				</a>
			</span>
			<h4>
				<span ng-if="module.type == 'drinks'">
					<span class="glyphicon glyphicon-glass"></span> Drinks
				</span>
				<span ng-if="module.type == 'text'">
					<span class="glyphicon glyphicon-bullhorn"></span> Text
					<small ng-bind="module.settings.headline"></small>
				</span>
				<span ng-if="module.type == 'barclosing'">
					<span class="glyphicon glyphicon-bullhorn"></span> Barschluss
					<small>{{ module.settings.time }} Uhr</small>
				</span>
				<span ng-if="module.type == 'highlights'">
					<span class="glyphicon glyphicon-star"></span> 
					<span ng-if="!module.settings.headline"> Highlights</span>
					<span ng-if="module.settings.headline"> {{ module.settings.headline }}</span>
					<small>{{ module.settings.description | limitTo : 30 }}...</small>
				</span>
			</h4>
		</div>
	</div>

	<p>
		<a class="btn btn-default" ng-click="add('drinks')"><span class="glyphicon glyphicon-plus"></span> Drinks</a>
		<a class="btn btn-default" ng-click="add('text')"><span class="glyphicon glyphicon-plus"></span> Text</a>
		<a class="btn btn-default" ng-click="add('barclosing')"><span class="glyphicon glyphicon-plus"></span> Barschluss</a>
		<a class="btn btn-default" ng-click="add('highlights')"><span class="glyphicon glyphicon-plus"></span> Highlights</a>
	</p>


</div>
