<!DOCTYPE html>
<html lang="de" ng-app="clubScreen">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- used to start like an app with google chrome on android -->
    <meta name="mobile-web-app-capable" content="yes">

	<title>Karaoke-Manager</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="../../common/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../common/css/bootstrap.cyborg.min.css">
	<link rel="stylesheet" href="../../common/css/style.css">

	<!-- jQuery: Dependency for sortable-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

	<!-- superior Angular -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.js"></script>

	<!-- for Drag and drop -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.12.8/sortable.min.js"></script>

	<!-- additional Angular -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

	<script src="karaoke.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header steckerlogo">
					<h1>
						<a type="button" class="btn btn-default" href="../">
							<span class="glyphicon glyphicon-arrow-left"></span>
						</a>
						
						HfTL-Club
						<small>
							<span class="glyphicon glyphicon-music"></span>
							Karaoke-Manager
						</small>
					</h1>
				</div>
			</div>
		</div>
		<div ng-controller="QueueController">
			<div class="col-md-12">
				<div class="well well-sm">
				<a class="btn btn-success disabled">
					ausstehend <span class="badge">{{ data.count }}</span>
				</a>
				<a class="btn btn-primary disabled">
					alle <span class="badge">{{ data.countall }}</span>
				</a>
				<span class="pull-right">
					<a ng-class="{ 'disabled' : !data.countall }" class="btn btn-danger" ng-click="truncateQueue()" title="Warteschlange leeren">
						<span class="glyphicon glyphicon-remove"></span>
						Warteschlange leeren
					</a>
				</span>
				</div>
				
				<ul ng-model="queue" class="list-group" ui-sortable="sortableOptions">
					<li ng-repeat="song in queue" ng-click="active.id = song.id" ng-class="{ 'list-group-item-low' : timers[song.id].timer }" class="list-group-item">

						<span class="pull-right" style="font-size: large">
							
							<a ng-if="!timers[song.id].timer" class="btn btn-success" ng-click="setPlayed(song.id)" title="Als gespielt markieren">
								<span class="glyphicon glyphicon-ok"></span>
								<span>Entfernen</span>
							</a>
							<a ng-if="timers[song.id].timer" class="btn btn-warning" ng-click="timers[song.id].stop()" title="STOP">
								<span class="glyphicon glyphicon-remove"></span>
								<span style="font-weight: bold">{{ timers[song.id].timer }}</span>
							</a>
							
							<a class="btn btn-default" ng-disabled="$first" ng-click="moveUpItem($index)" title="nach oben">
								<span class="glyphicon glyphicon-chevron-up"></span>
							</a>
							
							<a class="btn btn-default" ng-disabled="$last" ng-click="moveDownItem($index)"  title="nach unten">
								<span class="glyphicon glyphicon-chevron-down"></span>
							</a>
							
							<a ng-if="!hasTouch" class="btn btn-default song-order-handle active" title="Song verschieben">
								<span class="glyphicon glyphicon-resize-vertical"></span>
							</a>
						</span>
						<h4>
							<span>
								<span class="glyphicon glyphicon-music"></span> 
								<span>{{ song.interpret }} - {{ song.title }}</span> 
							</span>
						</h4>
						<small ng-if="song.singer">
							<span class="glyphicon glyphicon-user"></span>
							<span>{{ song.singer }}</span>
						</small>
					</li>
				</ul>
			</div>
		</div>

</div>

</body>
</html>
